{% extends 'dashboard/dashboard.html' %}
{% load static %}

{% block title %}{% block putaway_title %}Putaways Management{% endblock %}{% endblock %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/putaways/putaways.css' %}">
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="{% static 'js/putaways/putaways.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            {% block putaway_content %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %} 