{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'tax_summary/css/tax_summary.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard:dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'tax_summary:dashboard' %}">Tax Summary</a></li>
            {% block breadcrumb %}{% endblock %}
        </ol>
    </nav>
    {% block tax_summary_content %}{% endblock %}
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'tax_summary/js/tax_summary.js' %}"></script>
{% endblock %}
